.centering-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.v-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for anchor element to look like a button */

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 10vw;
    padding: 10px 20px;
    margin: 5px;

    border: 2px solid black;
    border-radius: 5px;

    text-decoration: none;
    color: black;
}

.button:visited {
    text-decoration: none;
    color: black;
}